body {
  background-color: white;
}
.site-header {
  background-color: #005394;
  padding-bottom: 10px;
  border-bottom: solid 10px #c70000;
  margin: 0;
  padding: 20px 0 70px;
}
 h1 {
  color: white;
  font-family: 'Roboto', 'Lato', Arial, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.25em;
 /* border-bottom: solid 10px #c70000;
  background-color: #005394;
  padding: 50px; */
}
.rand {
  color: red;
  font-family: courier;
  font-size: 160%;
  border: 2px solid purple;
  margin: 20px;
  padding: 5px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button1 {
  background-color: #005394;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}
.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 {
  background-color: #c70000;
  border: 2px solid #c70000;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 170px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px;
}
.button2:hover {
  background-color: white;
  color: black;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.picgallery {
  display: table;
  margin: 0 auto;
}
.time {
  font-size: 110%;
}
